@model GetSkills.Models.ProfileIndexViewModel

@{
    ViewBag.Title = "Create";
}

<link rel="stylesheet" href="~/Content/font-awesome.css">
<style>
    .floating-box {
        float: left;
        min-width: 180px;
        height: 24px;
        margin: 5px;
        color: #555;
        white-space: nowrap;
    }

    .floating-box-courses {
        float: left;
        min-width: 300px;
        height: 24px;
        margin: 5px;
        color: #555;
        white-space: nowrap;
    }

    .story_image_box {
        margin-bottom: 4px;
        width: 300px;
    }

    header .container {
        max-width: none;
    }
</style>

<script type="text/javascript">
    function removeWidthLimit() {
        document.getElementById('page_container').style.maxWidth = 'none';
        document.getElementById('page_container').style.paddingRight = '60px';
        document.getElementById('page_container').style.paddingLeft = '60px';

        document.getElementById('successStory_sort_number').style.maxWidth = '5em';

        document.getElementById('successStory_brief').style.height = '80px';
        document.getElementById('successStory_brief').style.maxWidth = '90%';

        document.getElementById('successStory_detail_description').style.height = '160px';
        document.getElementById('successStory_detail_description').style.maxWidth = '90%';
    }
    window.onload = removeWidthLimit;
</script>

<h2>Add a Team Profile</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.teamProfile.profile_id)
        @Html.HiddenFor(model => model.teamProfile.status)

        <div class="form-group">
            <label class="control-label col-md-2" for="name">Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.teamProfile.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.teamProfile.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="pic">Photo</label>
            <div class="col-md-10 ">
                @Html.HiddenFor(model => model.teamProfile.pic)
                @Html.TextBoxFor(model => Model.picFile, new { type = "file", @class = "story_image_box" })
                @Html.ValidationMessageFor(model => model.teamProfile.pic, "", new { @class = "text-danger" })
                <div>
                    @if (Model.teamProfile.pic != "")
                    {
                        <img src="@Url.Content(Model.teamProfile.pic)" alt="User Image" style="height:160px;" />
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="detail">Description</label>
            <div class="col-md-10 ">
                @Html.EditorFor(model => model.teamProfile.detail, new { htmlAttributes = new { @class = "form-control story_textarea_brief ", row = 4 } })
                @Html.ValidationMessageFor(model => model.teamProfile.detail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="linked_url">Linkedin</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.teamProfile.linked_url, new { htmlAttributes = new { @class = "form-control story_textarea_brief "} })
                @Html.ValidationMessageFor(model => model.teamProfile.linked_url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}



<div>
    @Html.ActionLink(" Back to List", "Index", new { }, new { @class = "fa fa-arrow-circle-o-left fa-lg" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
