@model GetSkills.Models.success_story

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>success_story</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sort_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sort_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brief)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brief)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detail_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.success_story_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
