@model IEnumerable<GetSkills.Models.StoryIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/font-awesome.css">
<style>
    th {
        background-color: dimgray;
        border-left: 1px solid #555;
        border-right: 1px solid #777;
        border-top: 1px solid #555;
        border-bottom: 1px solid #333;
        box-shadow: inset 0 1px 0 #999;
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        position: relative;
        text-shadow: 0 1px 0 #000;
        text-align: center;
    }

    story_font_h2 {
        color:#393939;
    }


</style>
<script type="text/javascript">
    function removeWidthLimit() {
        document.getElementById('page_container').style.maxWidth = 'none';
        document.getElementById('page_container').style.paddingRight = '20px';
    }
    window.onload = removeWidthLimit;
</script>

<h2 style="color:#393939;">Success Stories</h2>

<p style="padding-right:5px; padding-bottom:10px;">
    @Html.ActionLink(" Add Story", "Create", new { }, new { @class = "fa fa-plus fa-lg pull-right" })
</p>
<table class="table table-hover table-bordered no_max_width">
    <thead>
        <tr style="white-space:nowrap">
            <th>
                ID
                @if (ViewBag.IDSortParm == "ID_desc")
                {
                    @Html.ActionLink(" ", "Index", new { sortOrder = "ID_asc" }, new { @class = "fa fa-sort-up" })
                }
                else if (ViewBag.IDSortParm == "ID_asc")
                {
                    @Html.ActionLink(" ", "Index", new { sortOrder = "ID_desc" }, new { @class = "fa fa-sort-down" })
                }
                else
                {
                    @Html.ActionLink(" ", "Index", new { sortOrder = "ID_asc" }, new { @class = "fa fa-sort" })
                }
            </th>
            <th>
                Name
            </th>
            <th>
                Photo
            </th>
            <th>
                Order
                @if (ViewBag.OrderSortParm == "Order_desc")
                {
                    @Html.ActionLink(" ", "Index", new { sortOrder = "Order_asc" }, new { @class = "fa fa-sort-up" })
                }
                else if (ViewBag.OrderSortParm == "Order_asc")
                {
                    @Html.ActionLink(" ", "Index", new { sortOrder = "Order_desc" }, new { @class = "fa fa-sort-down" })
                }
                else
                {
                    @Html.ActionLink(" ", "Index", new { sortOrder = "Order_asc" }, new { @class = "fa fa-sort" })
                }
            </th>
            <th>
                Breif Story
            </th>
            <th>
                Detail Story
            </th>
            <th>
                Category
            </th>
            <th>
                Course
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody style="color:#393939; font-size:small;">
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.successStory.success_story_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.successStory.user_name)
                </td>
                <td>
                    @if (item.successStory.pic != "")
                    {
                        <img src="@Url.Content(item.successStory.pic)" alt="User Image" style="width:140px;" />
                    }
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.successStory.sort_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.successStory.brief)
                </td>
                <td style="width:25%;">
                    @Html.DisplayFor(modelItem => item.successStory.detail_description)
                </td>
                <td style="white-space:nowrap">
                    @foreach (var cat in item.categoryList)
                    {
                        @String.Format("{0}", cat.category_name) <br>
                    }
                </td>
                <td style="white-space:nowrap">
                    @foreach (var cor in item.coursesList)
                    {
                        @String.Format("{0} : {1}", cor.course_id, cor.course_name) <br>
                    }
                </td>
                <td style="white-space:nowrap">
                    @Html.ActionLink(" Edit", "Edit", new { id = item.successStory.success_story_id }, new { @class = "fa fa-pencil-square-o" }) <br>
                    @Html.ActionLink(" Delete", "Delete", new { id = item.successStory.success_story_id }, new { @class = "fa fa-trash-o" })
                </td>
            </tr>
        }
    </tbody>
</table>
