@model GetSkills.Models.StoryListViewModel

@{
    ViewBag.Title = "List";
}

@Scripts.Render("~/bundles/SDK")

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-sidebar">
                <li><h4>Success Story Category</h4></li>
                @if (Model.category == null)
                {
                    <li class="active"><a href="/SuccessStory/List">All success stories</a></li>
                }
                else
                {
                    <li><a href="/SuccessStory/List">All success stories</a></li>
                }
                @foreach (var item in Model.allCategoryList)
                {
                    if (Model.category == item.category_id.ToString())
                    {
                        <li class="active">@Html.ActionLink(item.category_name, "List", new { categoryId = item.category_id })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(item.category_name, "List", new { categoryId = item.category_id })</li>
                    }
                }
            </ul>
        </div><!-- /.sidebar -->
        <div class="col-sm-9">
            @foreach (var item in Model.successStoryList)
            {
                <!-- START THE FEATURETTES -->
                <hr class="featurette-divider">
                <div class="row featurette">
                    <div class="col-md-7">
                        <!--h1>@Html.DisplayFor(modelItem => item.user_name)</!--h1>-->
                        <h1>@Html.ActionLink(item.user_name, "Detail", new { id = item.success_story_id })</h1>
                        <p class="lead featurette-description">
                            @Html.DisplayFor(modelItem => item.brief)
                        </p>

                        @{var link = "//" + item.brief + "/Detail/" + item.success_story_id.ToString();}
                        <div class="fb-share-button" data-href=@link data-layout="button">FB</div>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url=@link data-count="none">Tweet</a>
                        <div class="g-plus" data-action="share" data-href=@link data-annotation="none">Google+</div>
                        <script type="IN/Share" data-href=@link>
                        </script>
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-responsive center-block"
                             src="@Url.Content(item.pic)"
                             alt="Story teller's portrait img">
                    </div>
                </div>
                <!-- /END THE FEATURETTES -->
                            }
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->
